* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.appDiv {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & * {
        max-width: 470px;
    }
}

.placeholder {
    max-width: 100vw;
}

.pageTransitionEnter {
    background-color:  #fff;
    opacity: 0;
    position: fixed;
    z-index: 99;
    pointer-events: none;
    top: 0;
    width: 100vw;
    height: 100vh;
}