* {
    padding: 0;
    margin: 0;

    &::-webkit-scrollbar {
        background-color: #0000;
    }
}

#appDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & * {
        max-width: 470px;
    }
}