.title {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    text-decoration: none;
}

.homeContainer {
    display: flex;
    gap: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}